body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

footer {
  padding: 1rem 0rem;
  text-align: center;
  background-color: rgb(207, 223, 233);
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding: 0px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 0rem;
}

a,
img,
li {
  display: inline;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}

.list-non-bullet {
  list-style: none;
}

.container {
  width: 300px;
  margin: auto auto;
}

label,
input {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 1.3rem;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  border: transparent;
  font-size: large;
  margin: 1rem 0;
  background-color: rgb(207, 223, 233);
}

#check-number {
  border: 2px solid black;
  color: var(--black);
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: var(--black);
  margin: auto;
  display: block;
}

h1 {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

div {
  padding: 0.5rem 0.2rem;
}

#output-box {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
